* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eae7dc;
}

.container {
	width: 90%;
	padding: 3vw 0;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15vw 5vw 2vw;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: #e85a4f;
	font-size: 6vw;
	text-shadow: 1vw 1vw 0 #d8c3a5;
}

h2 {
	text-align: center;
	font-family: 'Hind', sans-serif;
	font-size: 2vw;
	color: #8e8d8a;
}

#displayed-date {
	display: block;
	color: #e98074;
}

.vertical-line {
	height: 100vh;
	position: absolute;
	top: 0;
	padding: 0 10px;
}

#first-line {
	border-left: 4vw solid #d8c3a5;
	left: 90%;
}

#second-line {
	border-left: 1vw solid #e98074;
	left: 96%;
}

#third-line {
	border-left: .4vw solid #e85a4f;
	left: 95%;
}

.clock {
	display: flex;
	align-items: center;
	justify-content: center;
}

.clock-face {
	width: 35%;
	height: auto;
	padding-top: 35%;
	position: relative;
	border-radius: 50%;
	background-color: #d8c3a5;
}

.center {
	position: absolute;
	background-color: black;
	left: calc(50% - 10px);
	top: calc(50% - 10px);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #606060;
	z-index: 1;
}

.hand {
	border-radius: 4px;
	background-color: #606060;
	position: absolute;
	transform: rotate(90deg);
	transform-origin: 100%;
}

.hour-hand {
	width: 30%;
	height: 10px;
	top: calc(50% - 5px);
	left: 20%;
}

.minutes-hand {
	width: 40%;
	height: 7px;
	top: calc(50% - 4px);
	left: 10%;
}

.seconds-hand {
	width: 48%;
	height: 3px;
	top: calc(50% - 2px);
	left: 2%;
}

.digital-clock {
	font-size: 2vw;
	color: #fff;
	position: absolute;
	top: 30%;
	left: 20%;
	background-color: #e98074;
	padding: 3px;
	border-radius: 4px;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, .4);
}
